<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Memoria.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Memoria.Properties.Settings>
            <setting name="hatterkep" serializeAs="String">
                <value>memoria_kepek/bg@2x.png</value>
            </setting>
            <setting name="kepKonyvtar" serializeAs="String">
                <value>memoria_kepek/kartyak/</value>
            </setting>
            <setting name="kepUtotag" serializeAs="String">
                <value>@2x.png</value>
            </setting>
            <setting name="kepMeret" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="kepTavolsag" serializeAs="String">
                <value>132</value>
            </setting>
            <setting name="kartyaHatter" serializeAs="String">
                <value>memoria_kepek/kartyak/card_back@2x.png</value>
            </setting>
        </Memoria.Properties.Settings>
    </userSettings>
</configuration>